section.youtube
  height: 400px
  margin-top: -200px
  background:
    image: url(../img/yellow_flowers.jpg)
    position: center
    size: cover
  //opacity: 0.9

  .home-lead
    font:
      size: 20px
      family: Montserrat
      weight: 800
    line-height: 1
    margin-top: 250px


  .home-cta
    color: #3CB371
    margin-top: 20px
    height: 20px
    font-size: 20px

  .video-strip
    position: absolute
    top: 0
    margin: -50px 0
    width: 100%
    height: calc(100% + 100px)
    //background:
      image: url(../img/3_youtube.png)
      position: center top
      repeat: repeat-y
      size: 70%

  .col-1
    position: relative
    width: 300px
