section.title
  .flex.flex-center
    p I like to spend my free time...
    
section.heading
  .flex.flex-center
    p Chasing Novelty

section.arrow
  .flex.flex-center
    .col-2
  
// section.words
  // .flex.flex-center
  
    // .col-1
      // p in Shapes  
      
    // .col-1
      // p and Flavors 
            
section.food-gallery
  .col-2 
    :verbatim
      <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        
      <header>
        <h1>Bites.<br> <span>[ Make, Eat, Repeat ]</span></h1>
      </header>

      <div id="top1"></div>
      <section class="gallery1">
        <div class="row">
          <ul>
            <a href="#" class="close"></a>
            <li>
              <a href="#food01">
                <img src="/assets/img/chicken.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="#food02">
                <img src="/assets/img/bread.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="#food03">
                <img src="/assets/img/pasta.jpg" alt="">
              </a>
            </li>
            <li>
              <a class="image" href="#food04">
                <img src="/assets/img/eggs.jpg" alt="">
              </a>
            </li>
          </ul>
        </div> <!-- / row -->

        <!-- Item 01 -->
        <div id="food01" class="port">

          <div class="row">
            <div class="description">
              <h1>Harissa Chicken</h1>
              <p>with lots of herbs and a healthy greek yogurt sauce !</p>
            </div>

              <img src="/assets/img/chicken.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 02 -->

        <!-- Item 02 -->
        <div id="food02" class="port">

          <div class="row">
            <div class="description">
              <h1>Banana Bread</h1>
              <p>Baked with my mom on a rainy day :)</p>
            </div>
            <img src="/assets/img/bread.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 02 -->
        
        <!-- Item 03 -->
        <div id="food03" class="port">

          <div class="row">
            <div class="description">
              <h1>Garlic Pasta w/ Tomatoes</h1>
              <p>Super fast meal - just toss some tomatoes with garlic, olive oil, basil, s+p.</p>
            </div>
            <img src="/assets/img/pasta.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 03 -->

        <!-- Item 04 -->
        <div id="food04" class="port">

          <div class="row">
            <div class="description">
              <h1>Scrambled Eggs</h1>
              <p>Mushroom + onion scramble topped with herbs and a side of avo toast.</p>
            </div>
            <img src="/assets/img/eggs.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 04 -->

        
      </section> <!-- / projects -->
      
section.yoga-gallery
  .col-2 
    :verbatim
      <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        
      <header>
        <h1>Flows.<br> <span>[ Bend, Stretch, Reach ]</span></h1>
      </header>

      <div id="top2"></div>
      <section class="gallery2">
        <div class="row">
          <ul>
            <a href="#" class="close"></a>
            <li>
              <a href="#yoga01">
                <img src="/assets/img/arm_balance.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="#yoga02">
                <img src="/assets/img/beach_inversion.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="#yoga03">
                <img src="/assets/img/baby_crow.jpeg" alt="">
              </a>
            </li>
            <li>
              <a class="image" href="#yoga04">
                <img src="/assets/img/bridge.jpg" alt="">
              </a>
            </li>
          </ul>
        </div> <!-- / row -->

        <!-- Item 01 -->
        <div id="yoga01" class="port">

          <div class="row">
            <div class="description">
              <h1>Flying Pigeon</h1>
              <p>@ Alamere Falls</p>
            </div>

              <img src="/assets/img/arm_balance.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 02 -->

        <!-- Item 02 -->
        <div id="yoga02" class="port">

          <div class="row">
            <div class="description">
              <h1>Hollowback</h1>
              <p>Wall by my brother Thomas!</p>
            </div>
            <img src="/assets/img/beach_inversion.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 02 -->
        
        <!-- Item 03 -->
        <div id="yoga03" class="port">

          <div class="row">
            <div class="description">
              <h1>Baby Crow</h1>
              <p>Back at my school's multipurpose room in the gym.</p>
            </div>
            <img src="/assets/img/baby_crow.jpeg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 03 -->
        
        <!-- Item 04 -->
        <div id="yoga04" class="port">

          <div class="row">
            <div class="description">
              <h1>Bridge</h1>
              <p>Free yoga class at the Penn Art Museum w my friend Angeline !</p>
            </div>
            <img src="/assets/img/bridge.jpg" alt="">
          </div> <!-- / row -->

        </div> <!-- / Item 04 -->
      </section> <!-- / projects -->
  
// section.photos
  // .flex.flex-center
  
    // .col-1 
      // .yoga-pictures
      
    // .col-1
      // .food-pictures
            
  
      
