section.productivity 
  .flex.flex-center
    .col-2
      a(href="/kaizen/")
        p.home-lead "? - How can I be more effective..."
      p
      | I've been learning how to do things for my whole life, and yet
      | I never learned 
      i how 
      | to do things.
      | I soon realized this was the culprit of the chaos, stress, and
      | anxiety that was a constant in my head.     
      | I like to compare the organization of my mind to my family's house. 
      | As a child, I didn't understand anything about my house 
      | other than the fact that I would occasionally get new things like legos 
      | or a baby brother &#40or three!&#41. When I was older, my "cleaning" always began 
      | with dumping the contents of every drawer and cabinent in the entire house onto the floor. 
      | My mom loved this.  
      | I just didn't understand how someone could possibly clean without completely restarting.
      | My dad would often sweep the floors and scrub the counters but this cleanliness always
      | seemed superficial to me. I realized I couldn't entirely re-invent my house 
      | but I also couldn't clean up randomly. I needed a system.
      | Creating this type of system is exactly what I set out to do for my life. I couldn't just 
      | dump myself out onto the floor and start over, but following tips here and there was also
      | not an option. I needed a place to
      | start and map to follow. And since one didn't exist, I decided to make my own.  
      

section.goals
  .flex.flex-center
    .col-1
      a(href="/cv/")
        p.home-lead "...to achieve my goals..."
      
    .col-1.order-first 
      p
      | Let's talk about goals. And I don't mean goals in the boring, 
      | obligatory sense of the word. To me, goals represent the path I want to 
      | be on and what it takes to stay on &#40or at least wander around&#41 that path.
      | Working efficiently allows me to do this
      | without scacrificing the rest of my life. 

section.passion
  .flex.flex-space-around
    .col-1
      a(href="/novelty/")
        p.home-lead "...and have lots of free time..."
      
    .col-1.passion-description 
      p
      | Ahh free time, <strike>the stuff of dreams</strike> the elusive beast.
      | I'm a firm believer that people make time for things they
      | really care about. Obviously there are some exceptions but in my 
      | experience, people who really want something go and 
      | get it. I love new experiences so my free time is spent chasing novelty, whether that be
      | that be in food, yoga, travel, or even ideas.
      | If time is the stuff of life, then I'm not spending all of mine working.

      
section.curiosity 
  .flex.flex-center
    .col-2
      p 
      | I am so freaking curious. About everything. I always keep a list of questions with me, so
      | when I'm curious about something I can save it for later &#40instead of being eternally distracted&#41.
      | I also love learning new things, which means I spend a lot of my free time exploring ideas from
      | that list. It just so happens that my curiosity often revolves around learning more effectively: a rather fortuitous cycle.
    

      a(href="/curio/")
        p.home-lead "...to explore my curiosity."
  
