mixin nav-content()
  a(href="/kaizen/").blog KAIZEN
  ul
    //li: a(href="about.html") About Me
    li.blog-mobile: a(href="/kaizen/") KAIZEN
    li: a(href="/cv/") CV 
    li: a(href="/curio/") Curio 
    li: a(href="/novelty/") Novelty
    
    //li: a(href="#contact") Contact 

//to test is open change below to .mobile-nav.is-open
.mobile-nav
  +nav-content()

header
  .header-position
    a(href="/")
      h1.logo Grace Brentano

    nav.site-nav
      +nav-content()
    

    //a(href="mailto:kaizenbygrace@gmail.com").email-link chat w/ me
    a(href="/chat/").email-link chat w/ me 

    .mobile-nav-toggle: span
