section.home
  .container
    .color-wheel
      span XFLOE
      ul
        li
          a.cdb9b5e(href='#')
        li
          a.cc8b148(href='#') start
        li
          a.c8ab34b(href='#')
        li
          a.c51b5a3(href='#') n=2
        li
          a.c4e7d8d(href='#')
        li
          a.c5c6182(href='#') lists
        li
          a.c926174(href='#')
        li
          a.cc44646(href='#') grow
    // end color-wheel
    // end container
