section.chat
  .flex.flex-center
    .col-2
      :verbatim
        <header class="h2">
          <h1>LET'S CHAT!</h1>
        </header>
          <section class="chat_form">
            <div class="arrow-up"></div>
            <form action="https://formspree.io/kaizenbygrace@gmail.com" method="POST" method="post" id="contact" class="form-horizontal" role="form">
              <div class="form-group">  
                <div class="col-sm-12">
                  <input id="name" name="name" type="text" placeholder="NAME" class="form-control">
                </div>
              </div>
              <div class="form-group">  
                <div class="col-sm-12">
                  <input id="email" name="email" type="email" placeholder="EMAIL" class="form-control">
                </div>
              </div>
              <div class="form-group">  
                <div class="col-sm-12">
                  <textarea class="form-control" id="message" name="message" placeholder="MESSAGE"></textarea>
                </div>
              </div>
                <button id="send" name="send" class="btn btn-block">send</button>
            </form>
          </section>
