section.tracker
  .flex.flex-center
    :verbatim
      <!--
        Copyright (c) 2019 - Grace Brentano - https://codepen.io/ph1p/pen/JBBjNy

        Permission is hereby granted, free of charge, to any person 
        obtaining a copy of this software and associated documentation 
        files (the "Software"), to deal in the Software without restriction,
        including without limitation the rights to use, copy, modify, 
        merge, publish, distribute, sublicense, and/or sell copies of 
        the Software, and to permit persons to whom the Software is 
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall 
        be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
        HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
        WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
        DEALINGS IN THE SOFTWARE.
      -->
      <div class="wrapper_tracker">
        <div class="header_tracker">
          <h2>February Habit Tracker</h2>
          <p> This month I am working on self-care. </p>
        </div>
        <div class="gantt">
          <div class="gantt__row gantt__row--months">
            <div class="gantt__row-first"></div>
            <span>1</span><span>2</span><span>3</span>
            <span>4</span><span>5</span><span>6</span>
            <span>7</span><span>8</span><span>9</span>
            <span>10</span><span>11</span><span>12</span>
            <span>13</span><span>14</span><span>15</span>
            <span>16</span><span>17</span><span>18</span>
            <span>19</span><span>20</span><span>21</span>
            <span>22</span><span>23</span><span>24</span>
            <span>25</span><span>26</span><span>27</span>
            <span>28</span>
          </div>
          <div class="gantt__row gantt__row--lines" data-month="5">
            <span></span><span></span><span class="marker"></span><span class="marker"></span>
            <span></span><span></span><span></span>
            <span></span><span></span><span class="marker"></span>
            <span class="marker"></span><span></span><span></span><span></span>
            <span></span><span></span><span class="marker"></span><span class="marker"></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span class="marker"></span><span class="marker"></span><span></span>
            <span></span><span></span>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">
              get up at 8
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/1; background-color: #2ecaac;"></li>
              <li style="grid-column: 4/10; background-color: #2ecaac;"></li>
              <li style="grid-column: 12/16; background-color: #2ecaac;"></li>
            </ul>
          </div>
          <div class="gantt__row gantt__row--empty">
            <div class="gantt__row-first">
              meditate
            </div>
            <ul class="gantt__row-bars">
            <li style="grid-column: 1/1; background-color: #2ecaac;"></li>
              <li style="grid-column: 3/3; background-color: #2ecaac;"></li>
              <li style="grid-column: 5/7; background-color: #2ecaac;"></li>
              <li style="grid-column: 8/10; background-color: #2ecaac;"></li>
              <li style="grid-column: 11/16; background-color: #2ecaac;"></li>
              <li style="grid-column: 17/23; background-color: #2ecaac;"></li>
            </ul>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">
              workout
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/8; background-color: #54c6f9;"></li>
              <li style="grid-column: 9/9; background-color: #54c6f9;"></li>
              <li style="grid-column: 11/21; background-color: #54c6f9;"></li>
            </ul>
          </div>
          <div class="gantt__row gantt__row--empty">
            <div class="gantt__row-first">
              16 hour fast
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/1; background-color: #54c6f9;"></li>
              <li style="grid-column: 4/8; background-color: #54c6f9;"></li>
              <li style="grid-column: 11/13; background-color: #54c6f9;"></li>
              <li style="grid-column: 14/16; background-color: #54c6f9;"></li>
              <li style="grid-column: 18/22; background-color: #54c6f9;"></li>
            </ul>
          </div>
          <div class="gantt__row gantt__row--empty">
            <div class="gantt__row-first">
              MST
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 2/13; background-color: #54c6f9;"></li>
              <li style="grid-column: 14/16; background-color: #54c6f9;"></li>
              <li style="grid-column: 18/22; background-color: #54c6f9;"></li>
            </ul>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">
              2 Meals
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/9; background-color: #2ecaac;"></li>
              <li style="grid-column: 10/22; background-color: #2ecaac;"></li>
            </ul>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">
              SLT
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/4; background-color: #54c6f9;"></li>
              <li style="grid-column: 5/5; background-color: #54c6f9;"></li>
              <li style="grid-column: 8/8; background-color: #54c6f9;"></li>
              <li style="grid-column: 11/11; background-color: #54c6f9;"></li>
              <li style="grid-column: 13/16; background-color: #54c6f9;"></li>
            </ul>
          </div>

          <div class="gantt__row">
            <div class="gantt__row-first">
              night routine
            </div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 2/4; background-color: #ff6252;"></li>
              <li style="grid-column: 17/17; background-color: #ff6252;"></li>
            </ul>
          </div>
        </div>
