section.youtube
  .flex.flex-center
  
    .col-1
      .video-strip
            
    .col-1.order-first  
      p.home-lead.outdented ...around the world. 
      a(href="https://www.youtube.com/channel/UCzv92Enje8L7wLLsi-rFadw?view_as=subscriber").home-cta Watch on Youtube
      
