---
layout: default
title: xfloe
---
<div class="home-wrap">


  <div class="home-sections">

      <!-- {% include section-about.html %}
      {% include columns.html %} -->

      {% include home.html %}

      <!-- all the sections here -->
      <!-- <div style="height: 400px"></div> -->


  </div>

</div>
