---
layout: default
title: Novelty
permalink: /novelty/
---
<div class="home-wrap">

  <div class="home-sections">

      {% include section-yoga.html %}

      <!-- all the sections here -->


  </div>

</div>
