<section class="cv"><div class="col-2"><!--
  Copyright (c) 2019 - Grace Brentano - https://codepen.io/DRiNVAD3R/pen/zzaybp

  Permission is hereby granted, free of charge, to any person 
  obtaining a copy of this software and associated documentation 
  files (the "Software"), to deal in the Software without restriction,
  including without limitation the rights to use, copy, modify, 
  merge, publish, distribute, sublicense, and/or sell copies of 
  the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall 
  be included in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
  OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
  DEALINGS IN THE SOFTWARE.
-->

<div class="wrapper">
  <div class="outer-image"><img class="round-image" src="/assets/img/greece_sitting_crop2.jpg" height="100%"></div>
  <div class="header1"></div>
</div>
<div id="centerpixel">
<div id="Portfolio">
<div class="inner">
    <div class="Portfolio_title">
        Grace Brentano <br />
        <p>(AI Student + Innovator)</p>
    </div>
    <table class="portfolio_content">
        <tr>
            <td>Age</td>
            <td class="one">:</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Degrees</td>
            <td class="one">:</td>
            <td> BAS Computer Science <br> BA Cognitive Science Mathematics Minor </td>
        </tr>
        <tr>
            <td>School</td>
            <td class="one">:</td>
            <td>University of Pennsylvania</td>
        </tr>
        <tr>
            <td>Skills</td>
            <td class="one">:</td>
            <td>Machine Learning,&nbsp Python,&nbsp Java,&nbsp C++,&nbsp C</td>
        </tr>
        <tr>
            <td>Languages</td>
            <td class="one">:</td>
            <td>English,&nbsp French,&nbsp Chinese</td>
        </tr>
    </table>
</div>
</div>
</div>
<div id="LineTime">
    <div class="container-fluid">

        <div class="row timeline-centered">
            <div class="col-md-12 timelineMAIN-title">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2018</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">X, the Moonshot Factory</h3>
                            <p>&lbrack;Software Engineering Internship&rbrack;<br></p>
                            <p><br><i>San Francisco</i>&nbsp-- Worked on an early-stage machine vision project with a small technical team. Ran machine learning experiments to understand a key subproblem and determine feasibility. Participated in ML residency program.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                          <div class="timeline-info">
                            <span>2017</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">VITA Fitness</h3>
                            <p>&lbrack;Founder&rbrack;<br></p>
                            <p><br><i>Philadelphia</i> -- VITA Fitness was an on-demand, peer-to-peer fitness network designed to revolutionize the personal training industry. The app allowed experienced gym-goers to lead others through a workout, similar to working out with an experienced friend. Worked with a team of 2 to develop app and begin beta testing. Discontinued after encountering legal issues.</p>                     
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2017</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Monitor Deloitte</h3>
                            <p>&lbrack;Technical Consulting Internship&rbrack;<br></p>
                            <p><br><i>Shanghai</i> -- Aided the integration of commercial policies following the merger of two top 10 pharmaceutical companies. Developed python program to optimize rebate and discount ladders for each sector. In continued use and integrated into other projects. Modified Qlik code to optimize front-end for each client demonstration. </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2016</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Mentor Graphics</h3>
                            <p>&lbrack;Software Engineering Internship&rbrack;<br></p>
                            <p><br><i>Portland</i> -- Coordinated integration between two product divisions and created local servers, slides, and sales videos to be used in customer demos. Edited meta-models on virtual machines to make customer-specific demonstrations. Set up a server and front-end interface for editing and testing connections to INI files.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>2014/2015</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">UChic</h3>
                            <p>&lbrack;Product Management + Marketing Internship&rbrack;<br></p>
                            <p><br><i> Kansas City </i> -- Assisted in development of first product launch plan and social media marketing campaign. Led interview series discussing how successful women overcame career challenges. </p>
                        </div>
                    </li>
                    <li class="timeline-item period">
                        <div class="timeline-marker"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div></div></section>