<section class="post-title"><div class="flex flex-center"><div class="col-2"><h class="title">KAIZEN x GRACE</h>How to be effective from the ground up.</div></div></section><section class="landing"><div class="flex flex-center"><div class="col-2">{% assign post = site.posts.last %}
   <article>
     <a href="{{ post.url | prepend: site.baseurl }}">
     <h2>
       {{ post.title }}
     </h2>
     </a>
   </article>
<h1> Most recent: </h1>
{% assign post = site.posts.first %}
   <article>
     <a href="{{ post.url | prepend: site.baseurl }}">
     <h2>
       {{ post.title }}
     </h2>
     </a>
   </article>
<h1> Or choose: </h1>
<h3>
  <a href="/kaizen/0/"> 0 </a>
  <a href="/kaizen/1/"> 1 </a>
  <a href="/kaizen/2/"> 2 </a>
  <a href="/kaizen/3/"> 3 </a>
  <a href="/kaizen/4/"> 4 </a>
  <a href="/kaizen/5/"> 5 </a>
  <a href="/kaizen/6/"> 6 </a>
</h3></div></div></section>