<section class="mentoring"> <div class="flex--center"><div class="col-1"><ul class="questions"><li style="background-image: url(http://fllmurray.com/80/80);" class="question"></li></ul><p></p>I have a lot of questions</div></div></section>