<section class="curio"><div class="flex flex-center"><!--
  Copyright (c) 2019 - Grace Brentano - ????

  Permission is hereby granted, free of charge, to any person 
  obtaining a copy of this software and associated documentation 
  files (the "Software"), to deal in the Software without restriction,
  including without limitation the rights to use, copy, modify, 
  merge, publish, distribute, sublicense, and/or sell copies of 
  the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall 
  be included in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES 
  OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT 
  HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
  WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
  DEALINGS IN THE SOFTWARE.
--><div class="col-2 left"><div class="post-it"><p class="sticky taped"><a href="https://www.healthline.com/nutrition/10-health-benefits-of-intermittent-fasting#section9" target="_blank"><strong>Benefits of Intermittent Fasting<br><br></strong>1. decreases insulin levels <br>
2. HGH levels increase 5-fold <br>
3. induces neuronal autophagy<br>
4. reduces oxidative stress and inflammation<br>
5. protects against neurodegenerative diseases<br>
6. increases longevity !<br>
***Update (2/24): Have recently been exploring working out and cognitive function in a fasted state. So far both are crazyyy!</a></p></div><div class="post-it"><p class="note">I usually meditate with Insight Timer <br>
BUT recently I have been loving <br>
Headspace's Free Course <q>Basics</q>. <br>
The analogy of sitting on the side of the road
and watching your thoughts pass by has 
really helped me.</p></div><div class="post-it"><p class="sticky taped"><a href="https://www.examine.com" target="_blank"><strong>EXAMINE.COM<br><br></strong>Unbiased answers to ALL your health questions!! <br></a></p></div></div><div class="col-2 middle"><div class="post-it"><p class="sticky taped"><a href="https://www.samuelthomasdavies.com/book-summaries/self-help/one-small-step-can-change-your-life/" target="_blank"><strong>Currently Reading -><br></strong>One Small Step Can Change Your Life: The Kaizen Way <br></a></p></div><div class="post-it"><p class="note"><a href="https://becomingasuperhuman.com/podcast/" target="_blank">I have been binge-listening to <br>
The Becoming SuperHuman Podcast <br>
obsessed! <br></a></p></div><div class="post-it"><p class="note"><a href="https://www.scribd.com" target="_blank">scribd is
where I read & listen to books.
Getting a subscription has legitimely made me read 5+ books MORE a month than I was reading before.</a></p></div></div><div class="col-2 right"><div class="post-it"><p class="sticky taped"><a href="https://soundcloud.com/paulminors/tps-2-planning-work-around" target="_blank">The Paul Minors Podcast #2 <br></a></p></div><div class="post-it"><p class="note">First snow of the season in Philly; <br>
the trees are so pretty! <br><br><img src="/assets/img/first-snow.jpg" class="first-snow"/><br><br> November 15, 2018</p></div><div class="post-it"><p class="sticky taped">Nighttime meditation for 15 minutes or less has helped me 
fall asleep almost instantly and increases my sleep quality 
very noticeably<br></p></div></div></div></section>