<section class="title"><script>var goBack = function() {
  window.history.back()
}</script><button onclick="goBack()"><-</button><div class="flex flex-center"><p class="title">novelty coming soon...</p></div></section>