<section class="food"><div class="flex flex-center"><div class="col-1"> <p class="home-lead">Eating or making food to eat.  </p></div><div class="col-1"><div class="food-pictures"></div></div></div></section>