.home-wrap
  display: flex
  min-height: 100vh

  @media (max-width: 775px)
    display: block

.home-sections
  flex: 1

  section
    padding: 50px 0

  // Flex classes
  .flex
    display: flex
    flex-direction: rows

  .flex-center
    justify-content: center

  .flex-space-around
    justify-content: space-around

  .order-first
    order: -1

  .vertical-center
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

// columns
.col-1
  max-width: 300px
  margin: 0 10px

.col-2
  max-width: 620px
  margin: 0 10px

.col-3
  max-width: 800px
  margin: 0 10px

.col-50
  width: 50%

.push-right
    margin-left: 200px

@media (max-width: 640px)
  .home-sections .flex
    display: block

  .col-1
    max-width: 100%

  .col-2
    max-width: 100%
    
  .col-3
    max-width: 100%

  .col-50
    width: auto

  .push-right
      margin-left: 10px

// Typography

.home-lead
  margin-top: 100px
  margin-left: 120px
  font-size: 36px
  line-height: 1.1

  &.outdented
    text-indent: -0.75em

    @media (max-width: 640px)
      text-indent: 0
