section.chat
  .centered
    margin: 0 auto
    text-align: center

  .uppercase
    text-transform: uppercase

  .bottom-line
    border-bottom: 2px solid #c3c3c3

  \::-webkit-resizer
    display: none

  //background-color: #e3e3e3
  //color: #555
  font-family: 'Oswald', sans-serif
  font-weight: 300
  padding-top: 40px
  *
    outline: none !important
  .flex.flex-center
    .col-2
      width: 100%
      margin-left: 0
      margin-right: 0
      header.h2
        margin: 0 auto
        background-color: transparent
        width: 340px
        padding-bottom: 0px
        margin-top: 40px
        h1
          font-size: 20px
          text-transform: uppercase
          margin: 0 auto
          text-align: center
          border-bottom: 2px solid #c3c3c3
          background-color: #f7f7f7
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05)
          color: #555
          font-weight: 300
          width: 340px
          padding: 20px 0px 20px 0px
          letter-spacing: 4px

      section.chat_form
        margin: 0 auto
        padding: 0 0
        text-align: center

      .arrow-up
        margin: 0 auto
        text-align: center
        position: relative
        top: 1px
        width: 0
        height: 0
        margin-top: 10px
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid #f7f7f7

      form#contact
        margin: 0 auto
        text-align: center
        border-bottom: 2px solid #c3c3c3
        width: 300px
        padding: 20px
        background-color: #f7f7f7

      .form-control
        width: 300px
        box-shadow: none
        border-radius: 0
        background-color: #f7f7f7
        outline: none
        border: none
        box-shadow: none !important
        margin-bottom: 20px

      textarea#message
        width: 300px
        min-height: 100px
        resize: vertical
        overflow: hidden
        border-bottom: 0px

      button#send
        width: 300px
        height: 35px
        text-transform: uppercase
        border-bottom: 2px solid #c3c3c3
        margin-top: 20px
        letter-spacing: 4px

section.comments
  .disqus_thread
    max-width: 800px
