@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower)
section.curio
  //width: 1000px
  max-width: 100%
  .col-2
    padding-left: 20px
    padding-right: 20px
  .col-2.left
    margin-top: -70px
    p.sticky.taped
      width: 370px
    p.note
      margin-top: 40px
  .col-2.middle
    margin-top: 30px
    p.note
      margin-top: -20px
      width: 300px
    .sticky.taped
      font-family: 'Indie Flower'
      font-size: 25px
  .col-2.right
    margin-top: -30px
    .first-snow
      display: inline-block
      vertical-align: middle
      width: 150px
      height: 180px

  .sticky
    -webkit-box-shadow: #DDD 0px 1px 2px
    position: relative
    //background-color: #F4F39E
    background-color: white
    border-color: #DEE184
    color: #47576B
    text-align: center
    margin: 2.5em 0px
    padding: 1.5em 1em
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    width: 250px
    font-family: 'Indie Flower', cursive
    font-family: 'Give You Glory', cursive
    font-family: 'The Girl Next Door', cursive
    font-family: 'Gloria Hallelujah', cursive

  .post-it
    display: table
    margin: 5em auto 0

  .taped
    display: table-cell
    text-align: center
    vertical-align: middle

  .sticky.taped:after
    display: block
    content: ""
    position: absolute
    width: 110px
    height: 30px
    top: -21px
    left: 30%
    border: 1px solid #fff
    background: rgba(254, 254, 254, 0.6)
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)

  .note
    -webkit-box-shadow: #DDD 0px 1px 2px
    position: relative
    //background-color: #F4F39E
    background-color: white
    border-color: #DEE184
    text-align: center
    margin: 1.5em auto
    padding: 1.5em 1em
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -webkit-transform: rotate(2deg)
    -moz-transform: rotate(2deg)
    -o-transform: rotate(2deg)
    -ms-transform: rotate(2deg)
    transform: rotate(2deg)
    width: 250px
    font-family: 'The Girl Next Door', cursive
    /*originally with brain flower font
    font-size: 1em
    &:after
      display: block
      content: ""
      position: absolute
      width: 110px
      height: 30px
      top: -21px
      left: 30%
      border: 1px solid #fff
      background: rgba(254, 254, 254, 0.6)
      -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
      -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
      box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)


@media (max-width: 1200px)
  section.curio
      .col-2
        width: 30%
        padding-left: 0
        padding-right: 0
        margin-left: 0
        margin-right: 0
        .post-it
          width: 80%
          p.note, p.sticky.taped
            width: 100%

@media (max-width: 775px)
  section.curio
    .col-2
      .post-it
        p.note, p.sticky.taped
          width: 200px

@media (max-width: 640px)
  section.curio
    .col-2
      margin-left: auto
      margin-right: auto
      width: 100%
      .post-it
        width: 80%
        p.note, p.sticky.taped
