html, body
  overflow-x: hidden
section.cv
  .col-2
    max-width: 100%
    height: 1900px
    overflow-x: hidden !important
    background-color: #f5f5f5
    .wrapper
      z-index: 1
      position: relative
      height: 350px
      background-color: #f5f5f5
    .header1
      height: 300px
      //background-image: url("http://image.dek-d.com/27/0391/4869/119477071")
      background-image: url(../img/paint.jpg)
      background-size: cover
      transform: rotate(-4deg)
      margin-top: -70px
      position: absolute
      top: 0
      right: -20%
      left: -20%
      bottom: 0
      border: 2px solid #CCD5DB

    .round-image
      border-radius: 100%
      height: 200px
      margin: 0 auto
      top: 150px
      left: 200px
      width: 200px
      overflow: hidden
      position: absolute
      size: fill
      z-index: 1
      border: 2px solid #CCD5DB

    #LineTime
      position: absolute
      right: 0
      width: 60%

    .one
      text-align: center
      padding: 0px 10px

    .Portfolio_title
      font-size: 30px
      font-weight: bold
      width: 300px
      > p
        font-weight: lighter
        font-size: 20px
        color: #6E6E6E

    .portfolio_content
      padding: 15px 10px
      width: 300px

    #Portfolio
      padding-left: 25px
      padding-top: 25px
      position: absolute

    #centerpixel
      position: absolute
      width: 100%

    @media screen and (max-width: 1100px)
      #centerpixel
        max-width: 668px
        position: absolute
        width: 100%
      #Portfolio
        text-align: center
        max-width: 668px
        padding-top: 40px
        padding-left: 0
        width: 100%
      .inner
        display: table
        margin: 0 auto
        max-width: 668px
      .Portfolio_title
        text-align: center
      #LineTime
        margin-top: 300px
        padding-top: 100px
        padding-left: 30px
        //left: 0
        right: auto
        width: 100%
        max-width: 608px
      .wrapper
        width: 100%
        max-width: 668px
      .outer-image
        width: 50%
        margin: 0 auto
      .round-image
        left: 50%
        margin-left: -100px

    h1, h2, h3, h4, h5, h6
      color: #3D4351
      margin-top: 0

    a
      color: #FF6B6B
      color: black
      &:hover
        color: #ff9a9a
        text-decoration: none

    .container-fluid .row
      padding: 0 0 4em 0
      &:nth-child(even)
        background: #F1F4F5

    .timelineMAIN-title
      text-align: center
      margin-bottom: 60px
      padding: 3em 0
      /*border-bottom: 1px solid #E4EAEC;
      p
        margin: 0 auto
        font-size: 16px
        max-width: 400px

    /*==================================
     *    TIMELINE
     *==================================
    /*-- GENERAL STYLES
     *  ------------------------------

    .timeline
      line-height: 1.4em
      list-style: none
      margin: 0
      padding: 0
      width: 100%
      h1, h2, h3, h4, h5, h6
        line-height: inherit
      h3
        margin-top: 0px

    /*----- TIMELINE ITEM -----

    .timeline-item
      padding-left: 60px
      position: relative
      &:last-child
        padding-bottom: 0

    /*----- TIMELINE INFO -----

    .timeline-info
      font-size: 12px
      font-weight: 350
      letter-spacing: 3px
      margin: 0 0 .5em 0
      text-transform: uppercase
      white-space: nowrap
      color: #768390
      color: black
      //padding-right: 50px

    /*----- TIMELINE MARKER -----

    .timeline-marker
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 15px
      &:before
        //background: #4AA6C7
        background: #f2ece4
        border: 3px solid transparent
        border-radius: 100%
        content: ""
        display: block
        height: 10px
        position: absolute
        top: 4px
        left: 0
        width: 10px
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out
      &:after
        content: ""
        width: 3px
        background: #CCD5DB
        display: block
        position: absolute
        top: 24px
        bottom: 0
        left: 6px

    .timeline-item
      &:last-child .timeline-marker:after
        content: none
      &:not(.period):hover .timeline-marker:before
        background: transparent
        border: 3px solid #235C71

    /*----- TIMELINE CONTENT -----

    .timeline-content
      padding-bottom: 40px
      p:last-child
        margin-bottom: 0

    /*----- TIMELINE PERIOD -----

    .period
      padding: 0
      .timeline-info
        display: none
      .timeline-marker
        &:before
          background: transparent
          content: ""
          width: 10px
          height: auto
          border: none
          border-radius: 0
          top: 0
          bottom: 30px
          position: absolute
          border-top: 3px solid #CCD5DB
        &:after
          content: ""
          height: 32px
          top: auto
      .timeline-content
        padding: 40px 0 70px
      .timeline-title
        margin: 0

    /*----------------------------------------------
     *      MOD: TIMELINE CENTERED
     *  ----------------------------------------------
    @media (min-width: 1100px)
      .timeline-centered
        display: block
        margin: 0
        padding: 0
        .timeline-item, .timeline-info, .timeline-marker, .timeline-content
          display: block
          margin: 0
          padding: 0
        .timeline-item
          padding-bottom: 40px
          overflow: hidden
        .timeline-marker
          position: absolute
          left: 50%
          margin-left: -7.5px
        .timeline-info, .timeline-content
          width: 40%
        > .timeline-item
          &:nth-child(odd)
            .timeline-info
              float: right
              text-align: left
              //padding-right: 30px
              margin-right: 45px
            .timeline-content
              float: right
              text-align: right
              margin-right: 65px
          &:nth-child(even)
            .timeline-info
              float: left
              text-align: right
              //padding-left: 30px
              margin-left: 45px
            .timeline-content
              float: left
              text-align: left
              margin-left: 65px
          &.period .timeline-content
            float: none
            padding: 0
            width: 100%
            text-align: center
        .timeline-item.period
          padding: 50px 0 90px
        .period
          .timeline-marker:after
            height: 30px
            bottom: 0
            top: auto
          .timeline-title
            left: auto

    /*----------------------------------------------
     *      MOD: MARKER OUTLINE
     *  ----------------------------------------------

    .marker-outline
      .timeline-marker:before
        background: transparent
        border-color: #FF6B6B
      .timeline-item:hover .timeline-marker:before
      background: #FF6B6B

@media (max-width: 1100px)
  section.cv
    .col-2
      height: 2200px
      margin-left: auto
      margin-right: auto
      max-width: 630px


@media (max-width: 700px)
  html, body
    width: 100%
    overflow-x: hidden
    position: absolute
  section.cv
    .wrapper
      //overflow-x: auto
    .col-2
      height: 2400px
      .inner, .Portfolio_title, .portfolio_content
        margin-left: auto
        margin-right: auto
      .timeline-item
        padding-right: 10%
        margin-left: auto
        margin-right: auto
        width: 60%
      .container-fluid
        margin-left: -30px
      .timeline-item.period
        margin-left: 35px
