section.food

  .home-lead
    font:
      size: 20px
      family: Montserrat
      weight: 800
    line-height: 1
    margin-right: 100px
    margin-bottom: 50px
    margin-left: -200px

  .food-pictures
    position: absolute
    top: 700px
    padding-right: 30px
    margin-bottom: 150px
    width: 100%
    height: 200px
    width: 200px
    background:
      image: url(../img/food_assortment.jpg)
      position: center
      size: contain

@media (max-width: 1100px)
  section.food
    margin-left: auto
    margin-right: auto
    max-width: 668px

@media (max-width: 775px)
  section.food
    margin-left: auto
    margin-right: auto
    max-width: 484px

@media (max-width: 640px)
  section.food
    margin-left: auto
    margin-right: auto
    max-width: 400px
