.home-wrap
  header
    font:
      family: Montserrat
    width: 135px
    background: #f2ece4
    padding: 30px 0

    .header-position
      position: fixed
      z-index: 2
      top: 30px
      left: 0
      bottom: 30px
      width: 135px
      display: flex
      flex-direction: column
      justify-content: space-between

    .logo
      position: relative
      +hide-text
      max-width: 135px
      background:
        image: url(../img/gulpfile.svg)
        repeat: no-repeat
        position: center
        size: contain
      //  color: pink
      height: 80px
      padding: 0
      margin: 0

    .site-nav
      .blog
        display: block
        text-align: right
        padding-right: 20px

      ul
        list-style: none
        margin: 20px 0
        padding: 0 20px 0 0
        text-align: right

        li.blog-mobile
          display: none
        li
          margin-bottom: 10px

          &:last-child
          margin-bottom: 0

    .email-link
      display: block
      text-align: right
      padding-right: 20px

    .mobile-nav-toggle
      display: none
      width: 30px
      height: 30px
      // background: pink
      margin-right: 30px
      align-items: center
      cursor: pointer

      span,
      span::before,
      span::after
        content: ""
        display: block
        z-index: 2
        height: 2px
        width: 100%
        background: #333
        position: relative

        transition: all 0.3s ease-in-out

      span::before
        top: 8px

      span::after
        top: -10px

      &.is-open span,
      &.is-open span::before,
      &.is-open span::after
        transform-origin: center
        transform: rotate(90deg)
        top: 0

  // Mobile nav
  .mobile-nav
    z-index: 2
    display: none
    position: absolute
    width: 100%
    background: #f2ece4
    padding: 50px 0 20px
    transform: translateY(-100%)
    transition: all 0.3s ease-in-out

    ul
      list-style: none
      //padding: 0

    li.blog-mobile
      margin-bottom: 35px
    li
      text-align: center
      margin-bottom: 10px
      padding-right: 30px

@media (max-width: 775px)
  .home-wrap
    header
      width: auto
      padding: 20px 0

      .header-position
        width: auto
        position: relative
        top: auto
        bottom: auto
        left: auto
        flex-direction: row
        align-items: center

      .site-nav,
      .email-link
        display: none

      .logo
        height: 45px

      .mobile-nav-toggle
        display: flex

    .mobile-nav
      a.blog
        display: none

    .mobile-nav.is-open
      display: block
      transform: translateY(0%)
