section.productivity
  margin-top: -40px

  .home-lead
    margin-left: -120px
    font:
      size: 30px
      family: Montserrat
      weight: 800
      style: italic
    line-height: 1

@media (max-width: 1100px)
  section.productivity
    .home-lead
      margin-left: auto
      margin-right: auto
      max-width: 668px

@media (max-width: 775px)
  section.productivity
    .home-lead
      margin-left: auto
      margin-right: auto
      max-width: 484px

@media (max-width: 640px)
  section.productivity
    .col-2
      margin-left: auto
      margin-right: auto
      max-width: 400px


section.goals

  .home-lead
    margin-top: 35px
    font:
      size: 30px
      family: Montserrat
      weight: 800
      style: italic
    line-height: 1

@media (max-width: 640px)
  section.goals
    .home-lead, .col-1
      margin-left: auto
      margin-right: auto
      max-width: 400px


section.passion
  margin-top: -10px

  .home-lead
    margin-right: -90px
    font:
      size: 30px
      family: Montserrat
      weight: 800
      style: italic
    line-height: 1

  .col-1.passion-description
    margin-left: -100px

@media (max-width: 1100px)
  section.passion
    .home-lead
      margin-left: auto
      margin-right: auto
      max-width: 668px

@media (max-width: 775px)
  section.passion
    .home-lead, .col-1.passion-description
      margin-left: auto
      margin-right: auto
      max-width: 484px
    .col-1.passion-description
      margin-left: 0
      margin-right: 0
      max-width: 300px

@media (max-width: 640px)
  section.passion
    .home-lead, .col-1.passion-description
      margin-left: auto
      margin-right: auto
      max-width: 400px

section.curiosity

  .home-lead
    margin-top: -1px
    margin-left: 300px
    padding-top: 30px
    margin-right: -150px
    font:
      size: 30px
      family: Montserrat
      weight: 800
      style: italic
    line-height: 1

@media (max-width: 1100px)
  section.curiosity
    .home-lead
      margin-left: auto
      margin-right: auto
      max-width: 668px

@media (max-width: 775px)
  section.curiosity
    .home-lead
      margin-left: auto
      margin-right: auto
      max-width: 484px

@media (max-width: 640px)
  section.curiosity
    margin-top: 140px
    .home-lead
      margin-top: -240px
    .col-2
      margin-left: auto
      margin-right: auto
      max-width: 400px
