section.about
  height: 300px
  padding-bottom: -50px
  background:
    image: url(../img/afternoon_tea_crop3.jpg)
    //image: url(../img/orange_headshot_Fotor.jpg)
    position: center
    repeat: no-repeat
    size: cover

  h2
    color: white
    font:
      size: 60px
      family: Montserrat
      weight: 550
    line-height: 1
    margin-left: -350px
    margin-top: -25px
    padding-top: 10px

  p
    font:
      weight: 900
      size: 13px
      family: Montserrat
    line-height: 1
    margin-top: -53px
    margin-bottom: -35px
    margin-left: -195px
    padding-right: 100px

@media (max-width: 640px)
  section.about
    h2
      margin-left: auto
      margin-right: auto
      max-width: 400px
    .home-lead
      margin-left: auto
      margin-right: auto
    p
      margin-left: 25%
      margin-right: auto
      width: 400px


@media (max-width: 400px)
  section.about
    h2
      margin-left: auto
      margin-right: auto
      max-width: 400px
    .home-lead
      margin-left: auto
      margin-right: auto
    p
      width: 400px
  section.productivity, section.goals, section.passion
    width: 300px
    margin-left: auto
    margin-right: auto
  section.curiosity
    width: 300px
    margin-left: auto
    margin-right: auto
    .home-lead
      margin-top: -330px

@media (max-width: 385px)
  section.about
    h2
      margin-bottom: 5px
    p
      max-width: 100%
      font-size: 20px
      padding-left: 5%
      margin-top: 210px
      margin-bottom: 0
      margin-left: 0

@media (max-width: 300px)
  section.about
    p
      max-width: 100%
      font-size: 20px
      padding-left: 25%
      margin-top: 190px
      margin-bottom: 0
      margin-left: 0
  section.productivity, section.goals, section.passion
    width: 200px
