@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower)
section.post-title
  .flex.flex-center
    .col-2
      width: 800px
      font:
          size: 25px
          family: Montserrat
          weight: 400
      // background: #f2ece4
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-around
      text-align: center
      // padding-bottom: 2000px
      h.title
        font-size: 65px

section.post-body
  .flex.flex-center
    .col-1.left
      width: 150px
      height: 150px
      a.prev
        &[href=""], &[href="#"]
          display: none
        padding-top: 510px
        height: 150px
        display: block
        background:
          image: url(../img/less.png)
          repeat: no-repeat
          position: center
          size: contain
    .col-2
      width: 800px
      background: rgba(white, 0.9)
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 50px
      background: linear-gradient(90deg, #fff 20px, transparent 1%) center, linear-gradient(#fff 20px, transparent 1%) center, #ddd
      background-size: 22px 22px
    .col-1.right
      a.next
        &[href=""], &[href="#"]
          display: none
        padding-top: 500px
        height: 150px
        display: block
        background:
          image: url(../img/more.png)
          repeat: no-repeat
          position: center
          size: contain
      width: 150px
      height: 150px

section.landing
  .col-2
    //padding: 50px 50px
    //background-color: white
    h1
      text-align: center
      font:
        size: 15px
        family: Montserrat
        weight: 200

    h2
      outline: 5px solid black
      background-color: white
      text-align: center
      margin-bottom: 50px
      padding: 10px 10px
      font:
        size: 20px
        family: Montserrat
        weight: 400
    h3
      max-width: 300px
      margin-top: -1px
      font-family: Montserrat
      font-size: 50px


@media (max-width: 1250px)
  section.post-title, section.post-body, section.landing
    margin-left: auto
    margin-right: auto
    max-width: 781px

@media (max-width: 981px)
  section.post-title, section.post-body, section.landing
    margin-left: auto
    margin-right: auto
    max-width: 613px

@media (max-width: 640px)
  section.post-title
    margin-left: auto
    margin-right: auto
    //max-width: 400px
    width: 80%
  section.post-body
    margin-left: auto
    margin-right: auto
    width: 100%
    .flex.flex-center
      // allows for reordering divs
      display: flex
      flex-flow: column
      .col-1.left
        display: inline-block
        margin-left: 0
        margin-right: 0
        padding-left: 40%
        margin-top: 15px
        height: 0px
        width: 50px
        // 1 makes it the lowest element - all elements that should be below
        // should also have order: 1
        order: 1
        a.prev
          padding-top: 0
          height: 50px
          width: 50px
      .col-1.right
        padding-left: 50%
        margin-left: 0
        margin-right: 0
        // top margin should be height
        // margin-top: -1px
        order: 1
        height: 0px
        width: 50px
        a.next
          padding-top: 0
          height: 50px
          width: 50px
      .col-2
        width: 80%
        //padding: 0
        margin-left: 0
        //margin-right: 5%
        padding-left: 10%
        padding-bottom: 30px
        padding-top: 30px
  section.landing
    margin-left: auto
    margin-right: auto
    width: 60%

@media (max-width: 350px)
  section.post-body
    .flex.flex-center
      .col-1.right
        padding-left: 50%
      a.next
      .col-1.left
        display: inline-block
        padding-left: 33%
      a.prev

section.hidden
  //width: 1000px
  max-width: 100%
  .col-2
    padding-left: 20px
    padding-right: 20px
  .col-2.left
    margin-top: -70px
    p.sticky.taped
      width: 370px
    p.note
      margin-top: 40px
  .col-2.middle
    margin-top: 30px
    p.note
      margin-top: -20px
      width: 300px
    .sticky.taped
      font-family: 'Indie Flower'
      font-size: 25px
  .col-2.right
    margin-top: -30px
    .first-snow
      display: inline-block
      vertical-align: middle
      width: 150px
      height: 180px

  .sticky
    -webkit-box-shadow: #DDD 0px 1px 2px
    position: relative
    //background-color: #F4F39E
    background-color: white
    border-color: #DEE184
    color: #47576B
    text-align: center
    margin: 2.5em 0px
    padding: 1.5em 1em
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    width: 250px
    font-family: 'Indie Flower', cursive
    font-family: 'Give You Glory', cursive
    font-family: 'The Girl Next Door', cursive
    font-family: 'Gloria Hallelujah', cursive

  .post-it
    display: table
    margin: 5em auto 0

  .taped
    display: table-cell
    text-align: center
    vertical-align: middle

  .sticky.taped:after
    display: block
    content: ""
    position: absolute
    width: 110px
    height: 30px
    top: -21px
    left: 30%
    border: 1px solid #fff
    background: rgba(254, 254, 254, 0.6)
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)

  .note
    -webkit-box-shadow: #DDD 0px 1px 2px
    position: relative
    //background-color: #F4F39E
    background-color: white
    border-color: #DEE184
    text-align: center
    margin: 1.5em auto
    padding: 1.5em 1em
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25)
    -webkit-transform: rotate(2deg)
    -moz-transform: rotate(2deg)
    -o-transform: rotate(2deg)
    -ms-transform: rotate(2deg)
    transform: rotate(2deg)
    width: 250px
    font-family: 'The Girl Next Door', cursive
    /*originally with brain flower font
    font-size: 1em
    &:after
      display: block
      content: ""
      position: absolute
      width: 110px
      height: 30px
      top: -21px
      left: 30%
      border: 1px solid #fff
      background: rgba(254, 254, 254, 0.6)
      -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
      -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)
      box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1)


@media (max-width: 1200px)
  section.hidden
      .col-2
        width: 30%
        padding-left: 0
        padding-right: 0
        margin-left: 0
        margin-right: 0
        .post-it
          width: 80%
          p.note, p.sticky.taped
            width: 100%

@media (max-width: 775px)
  section.hidden
    .col-2
      .post-it
        p.note, p.sticky.taped
          width: 200px

@media (max-width: 640px)
  section.hidden
    .col-2
      margin-left: auto
      margin-right: auto
      width: 100%
      .post-it
        width: 80%
        p.note, p.sticky.taped
