section.tracker
  @import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700")
  overflow-y: scroll
  overflow-x: hidden

  body, html
    font-family: "Roboto", sans-serif
    background-color: #cddade
    height: 100%
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

  .header_tracker
    color: #202125
    margin-bottom: 40px
    h2
      font-weight: 600
      text-align: center
      font-family: Montserrat
    p
      font-weight: 300
      text-align: center
      font-family: Montserrat

  .wrapper_tracker
    max-width: 1200px
    min-width: 700px
    margin: 0 auto
    padding: 40px

  .gantt
    display: grid
    border: 0
    border-radius: 12px
    position: relative
    overflow: hidden
    box-sizing: border-box
    //box-shadow: 0 75px 125px -57px #7e8f94

  .gantt__row
    display: grid
    grid-template-columns: 150px 1fr
    background-color: #fff
    &:nth-child(odd)
      background-color: #f5f5f5
      .gantt__row-first
        background-color: #f5f5f5
    &:nth-child(3)
      .gantt__row-bars, .gantt__row-first
        border-top: 0

  .gantt__row--empty
    background-color: #ffd6d2 !important
    z-index: 1
    .gantt__row-first
      border-width: 1px 1px 0 0

  .gantt__row--lines
    position: absolute
    height: 100%
    width: 100%
    background-color: transparent
    grid-template-columns: 150px repeat(28, 1fr)
    span
      display: block
      border-right: 1px solid rgba(0, 0, 0, 0.1)
      &.marker
        background-color: rgba(10, 52, 68, 0.13)
        z-index: 2
    &:after
      grid-row: 1
      grid-column: 0
      //background-color: #1688b345
      background-color: white
      z-index: 2
      height: 100%

  .gantt__row--months
    color: #fff
    background-color: #0a3444 !important
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    grid-template-columns: 150px repeat(28, 1fr)
    .gantt__row-first
      border-top: 0 !important
      background-color: #0a3444 !important
    span
      text-align: center
      font-size: 13px
      align-self: center
      font-weight: bold
      // controls the padding above and below date numbers second number was 0
      // second number also controls width of columns
      padding: 20px 10px

  .gantt__row-first
    background-color: #fff
    border-width: 1px 0 0 0
    border-color: rgba(0, 0, 0, 0.1)
    border-style: solid
    // controls the height of each row
    padding: 10px 0
    font-size: 13px
    font-weight: bold
    text-align: center

  .gantt__row-bars
    list-style: none
    display: grid
    // padding below each row word
    padding: 9px 0
    margin: 0
    // this was 12, 1fr
    grid-template-columns: repeat(28, 1fr)
    grid-gap: 8px 0
    border-top: 1px solid rgba(221, 221, 221, 0.8)
    li
      font-weight: 500
      text-align: left
      font-size: 14px
      min-height: 15px
      background-color: #55de84
      // second value below controls width of each column originally 5,12
      padding: 5px 12px
      color: #fff
      overflow: hidden
      position: relative
      cursor: pointer
      // controls roundness of dots
      border-radius: 20px
      &.stripes
        background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px)
      &:before, &:after
        content: ""
        height: 100%
        top: 0
        z-index: 4
        position: absolute
        background-color: rgba(0, 0, 0, 0.3)
      &:before
        left: 0
      &:after
        right: 0

@media (max-width: 1300px)
  section.tracker
    // display: none
    //position: relative
    //max-width: 1000px
    //max-width: 80%
    .flex.flex-center
