html, body
  overflow-x: hidden
section.title
  background-color: black
  height: 100%
  p
    color: white
  button
    margin-left: 75px

@media (max-width: 775px)
  section.title
    text-align: center
    background-color: black
    height: 1000px
  button
    margin-left: 0
    margin-right: 570px
    color: white
